## Based on GitHub's Eclipse .gitignore

run/
.gradle/
build/
gradle-app.setting

## IntelliJ IDEA

.idea/
out/
*.iml
*.iws
*.ipr

## Eclipse

eclipse/
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.factorypath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

.DS_Store
/libs/
/.gradle
/.gradle
/build
/run
*.log
*.bin
*.lock
build/tmp/compileJava/previous-compilation-data.bin
build/classes/java/main/org/bnjax3/noitacraft/Noitacraft.class
build/classes/java/main/org/bnjax3/noitacraft/Noitacraft$RegistryEvents.class
.gradle/file-system.probe
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/8.8/fileHashes/resourceHashesCache.bin
.gradle/8.8/fileHashes/fileHashes.lock
.gradle/8.8/fileHashes/fileHashes.bin
.gradle/8.8/executionHistory/executionHistory.lock
.gradle/8.8/executionHistory/executionHistory.bin
.gradle/8.8/checksums/sha1-checksums.bin
.gradle/8.8/checksums/md5-checksums.bin
.gradle/8.8/checksums/checksums.lock
run/logs/latest.log
run/logs/debug.log
run/config/forge-client.toml
/.gradle
*.lock
*.bin
/.gradle
/build
/run
